# **Data Pre-processing part 4**
Extracting features of 2019 movies from Wikipedia

In [1]:
# Importing the necessary libries

import numpy as np
import pandas as pd

In [2]:
# Getting the 2019 data

link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [3]:
# Combining all the tables

df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [4]:
# Lets check our combined data

df

      Opening  ...   Ref.
0     JANUARY  ...    [2]
1     JANUARY  ...    [3]
2     JANUARY  ...    [4]
3     JANUARY  ...    [5]
4     JANUARY  ...    [6]
..        ...  ...    ...
237  DECEMBER  ...  [132]
238  DECEMBER  ...  [221]
239  DECEMBER  ...  [222]
240  DECEMBER  ...  [223]
241  DECEMBER  ...  [224]

[242 rows x 6 columns]

In [5]:
# Lets install tmdbv3api

!pip install tmdbv3api

Requirement already satisfied: tmdbv3api in /usr/local/lib/python3.7/dist-packages (1.7.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.5.30)

In [6]:
# Lets set the api key
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'c7ecb323bae4d5903c00da265bb6318a'

In [7]:
# Lets extract the genres data

from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [8]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [9]:
# Lets take the features we need

df_2019 = df[['Title','Cast and crew','genres']]

In [10]:
# Lets check the dataset

df_2019

                 Title  ...                                    genres
0          Escape Room  ...            Thriller Action Mystery Horror
1           Rust Creek  ...                            Thriller Drama
2     American Hangman  ...                                  Thriller
3     A Dog's Way Home  ...                    Drama Adventure Family
4           The Upside  ...                              Comedy Drama
..                 ...  ...                                       ...
237  Spies in Disguise  ...  Animation Action Adventure Comedy Family
238       Little Women  ...                             Drama Romance
239               1917  ...                 War Drama Action Thriller
240         Just Mercy  ...                       Drama Crime History
241           Clemency  ...                                     Drama

[242 rows x 3 columns]

In [11]:
# Lets extract the directors name

def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [12]:
df_2019['director_name'] = df_2019['Cast and crew'].map(lambda x: get_director(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
# Lets extract the actor 1 name

def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [14]:
df_2019['actor_1_name'] = df_2019['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
# Lets extract the actor 2 name

def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [16]:
df_2019['actor_2_name'] = df_2019['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
# Lets get the actor 3 name

def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [18]:
df_2019['actor_3_name'] = df_2019['Cast and crew'].map(lambda x: get_actor3(x))

In [19]:
# Lets rename the feature

df_2019 = df_2019.rename(columns={'Title':'movie_title'})

In [20]:
# Lets create the dataframe with the needed features

new_df19 = df_2019.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [21]:
#  Lets check for null values

new_df19.isnull().sum()

director_name     0
actor_1_name      0
actor_2_name      1
actor_3_name     15
genres            0
movie_title       0
dtype: int64

In [22]:
# Lets drop the null values

new_df19['actor_2_name'] = new_df19['actor_2_name'].replace(np.nan, 'unknown')
new_df19['actor_3_name'] = new_df19['actor_3_name'].replace(np.nan, 'unknown')

In [23]:
# Lets convert the movie title into lower case 

new_df19['movie_title'] = new_df19['movie_title'].str.lower()

In [24]:
# Lets create a feature "combine"

new_df19['comb'] = new_df19['actor_1_name'] + ' ' + new_df19['actor_2_name'] + ' '+ new_df19['actor_3_name'] + ' '+ new_df19['director_name'] +' ' + new_df19['genres']

In [25]:
new_df19

              director_name  ...                                               comb
0              Adam Robitel  ...  Taylor Russell Logan Miller Deborah Ann Woll A...
1               Jen McGowan  ...  Hermione Corfield Jay Paulson Sean O'Bryan Jen...
2         Wilson Coneybeare  ...  Donald Sutherland Vincent Kartheiser Oliver De...
3      Charles Martin Smith  ...  Bryce Dallas Howard Edward James Olmos Alexand...
4               Neil Burger  ...  Bryan Cranston Kevin Hart Nicole Kidman Neil B...
..                      ...  ...                                                ...
237  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
238            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
239              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
240   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
241         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[242 rows x 7 columns]

In [31]:
# Lets merge the dataset of 2018 and 2019

new_df18 = pd.read_csv("2018.csv")
my_df = new_df18.append(new_df19,ignore_index=True)
my_df

              director_name  ...                                               comb
0              Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1          Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2                Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3          Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4        Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                      ...  ...                                                ...
507  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
508            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
509              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
510   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
511         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[512 rows x 7 columns]

In [32]:
new_df18

          director_name  ...                                               comb
0          Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1      Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2            Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3      Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4    Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                  ...  ...                                                ...
265          Etan Cohen  ...  Will Ferrell John C. Reilly Rebecca Hall Etan ...
266          Adam McKay  ...  Christian Bale Amy Adams Steve Carell Adam McK...
267          Mimi Leder  ...  Felicity Jones Armie Hammer Justin Theroux Mim...
268        Karyn Kusama  ...  Nicole Kidman Sebastian Stan Toby Kebbell Kary...
269         David Slade  ...  Fionn Whitehead Will Poulter Asim Chaudhry Dav...

[270 rows x 7 columns]

In [33]:
# Lets merge my_df with the dataset before 2018

old_df = pd.read_csv('new_data.csv')
final_df = old_df.append(my_df,ignore_index=True)
final_df

               director_name  ...                                               comb
0              James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1             Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                 Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3          Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                      ...  ...                                                ...
5849  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
5850            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5851              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
5852   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5853         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[5854 rows x 7 columns]

In [34]:
# Lets check for null values

final_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           3
movie_title      1
comb             3
dtype: int64

In [35]:
# Lets drop the null values

final_df = final_df.dropna(how='any')

In [36]:
final_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [37]:
# Lets convert it into a csv for further use

final_df.to_csv('final_data.csv',index=False)