# **Data Pre-processing part 3**
Extracting features of 2018 movies from Wikipedia

In [3]:
# Importing the necessary libraries

import numpy as np
import pandas as pd

In [4]:
# Lets get the data

link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [5]:
# Combining all the dataframes

df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [6]:
# Lets check the dataframe

df

      Opening  ...   Ref.
0     JANUARY  ...    NaN
1     JANUARY  ...    NaN
2     JANUARY  ...    NaN
3     JANUARY  ...    NaN
4     JANUARY  ...    NaN
..        ...  ...    ...
265  DECEMBER  ...  [163]
266  DECEMBER  ...  [137]
267  DECEMBER  ...  [226]
268  DECEMBER  ...  [258]
269  DECEMBER  ...  [259]

[270 rows x 7 columns]

In [7]:
# Lets install the tmdbv3api so that we can have the dataset for 2018

!pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [8]:
# Setting the api key

from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'c7ecb323bae4d5903c00da265bb6318a'

In [9]:
# Lets extract the dataset

from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [10]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [11]:
df

      Opening  ...                                           genres
0     JANUARY  ...                          Horror Mystery Thriller
1     JANUARY  ...                                   Thriller Drama
2     JANUARY  ...                                  Action Thriller
3     JANUARY  ...                            Drama History Western
4     JANUARY  ...                                  Action Thriller
..        ...  ...                                              ...
265  DECEMBER  ...                   Mystery Adventure Comedy Crime
266  DECEMBER  ...                             Drama History Comedy
267  DECEMBER  ...                                    Drama History
268  DECEMBER  ...                      Thriller Crime Drama Action
269  DECEMBER  ...  Science Fiction Mystery Drama Thriller TV Movie

[270 rows x 8 columns]

In [12]:
# Lets pickup the reqired features

df_2018 = df[['Title','Cast and crew','genres']]
df_2018

                          Title  ...                                           genres
0       Insidious: The Last Key  ...                          Horror Mystery Thriller
1              The Strange Ones  ...                                   Thriller Drama
2                      Stratton  ...                                  Action Thriller
3                 Sweet Country  ...                            Drama History Western
4                  The Commuter  ...                                  Action Thriller
..                          ...  ...                                              ...
265             Holmes & Watson  ...                   Mystery Adventure Comedy Crime
266                        Vice  ...                             Drama History Comedy
267         On the Basis of Sex  ...                                    Drama History
268                   Destroyer  ...                      Thriller Crime Drama Action
269  Black Mirror: Bandersnatch  ...  Science Fiction Mystery Drama Thriller TV Movie

[270 rows x 3 columns]

In [13]:
# Lets extract the director name

def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [14]:
df_2018['director_name'] = df_2018['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
# Lets get the actor 1 name

def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [16]:
df_2018['actor_1_name'] = df_2018['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
# Lets get the actor 2 name

def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [18]:
df_2018['actor_2_name'] = df_2018['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
# Lets get the actor 3 name

def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [20]:
df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
# Lets check our dataset now

df_2018

                          Title  ...    actor_3_name
0       Insidious: The Last Key  ...  Leigh Whannell
1              The Strange Ones  ...   Emily Althaus
2                      Stratton  ...      Gemma Chan
3                 Sweet Country  ...             NaN
4                  The Commuter  ...  Patrick Wilson
..                          ...  ...             ...
265             Holmes & Watson  ...    Rebecca Hall
266                        Vice  ...    Steve Carell
267         On the Basis of Sex  ...  Justin Theroux
268                   Destroyer  ...    Toby Kebbell
269  Black Mirror: Bandersnatch  ...   Asim Chaudhry

[270 rows x 7 columns]

In [22]:
# Lets rename the feature

df_2018 = df_2018.rename(columns={'Title':'movie_title'})

In [23]:
# Lets see our final dataframe

new_df18 = df_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]
new_df18

          director_name  ...                 movie_title
0          Adam Robitel  ...     Insidious: The Last Key
1      Lauren Wolkstein  ...            The Strange Ones
2            Simon West  ...                    Stratton
3      Warwick Thornton  ...               Sweet Country
4    Jaume Collet-Serra  ...                The Commuter
..                  ...  ...                         ...
265          Etan Cohen  ...             Holmes & Watson
266          Adam McKay  ...                        Vice
267          Mimi Leder  ...         On the Basis of Sex
268        Karyn Kusama  ...                   Destroyer
269         David Slade  ...  Black Mirror: Bandersnatch

[270 rows x 6 columns]

In [24]:
# Lets check for null values

df_2018.isnull().sum()

movie_title       0
Cast and crew     0
genres            3
director_name     0
actor_1_name      0
actor_2_name      9
actor_3_name     26
dtype: int64

In [25]:
# Lets drop the null values

new_df18['actor_2_name'] = new_df18['actor_2_name'].replace(np.nan, 'unknown')
new_df18['actor_3_name'] = new_df18['actor_3_name'].replace(np.nan, 'unknown')

In [26]:
# Lets convert the title into lowercase

new_df18['movie_title'] = new_df18['movie_title'].str.lower()

In [27]:
# Lets create the "comb" feature for nlp

new_df18['comb'] = new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' '+ new_df18['actor_3_name'] + ' '+ new_df18['director_name'] +' ' + new_df18['genres']

In [28]:
# Lets check our dataframe now

new_df18

          director_name  ...                                               comb
0          Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1      Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2            Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3      Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4    Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                  ...  ...                                                ...
265          Etan Cohen  ...  Will Ferrell John C. Reilly Rebecca Hall Etan ...
266          Adam McKay  ...  Christian Bale Amy Adams Steve Carell Adam McK...
267          Mimi Leder  ...  Felicity Jones Armie Hammer Justin Theroux Mim...
268        Karyn Kusama  ...  Nicole Kidman Sebastian Stan Toby Kebbell Kary...
269         David Slade  ...  Fionn Whitehead Will Poulter Asim Chaudhry Dav...

[270 rows x 7 columns]

In [29]:
new_df18.to_csv("2018.csv", index = False)